.icon-foot {
    list-style-type: none;
    border: 0 !important;
}

.list-group-item {
    background-color: #232931 !important;
    border:0;
}
.hackerrank {
    padding: 3px !important;
}

.icon-foot:hover {
    opacity: 70%;
}

.footer {
    padding: 10px 0 20px 0;

}