.header {
    background-color: transparent;
    display: inline;
    font-size: 45px;
}

.nav-pills {
    background-color: transparent;
    justify-content: end;
    display: inline;
    float: right;
    padding-top: 6px;
    --bs-nav-pills-link-active-bg: aqua !important;
    --bs-nav-pills-link-active-color: #232931 !important;
}

.nav-container {
    background-color: transparent;
    padding-top: 50px;
}

.container-two {
    background-color: transparent;
}

.nav-item {
    display:inline;
    background-color: transparent;
    font-size: 17px;
    font-weight: bolder;
}

.background-div {
    height: 160px;
}

.nav {
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: aqua !important;
}

@media only screen and (max-width: 992px) {
    
    .header {
      display:block;
      text-align: center;
      font-size: 40px;
    }

    .nav-item {
        width: 100%;
        background-color: transparent;
        font-size: 15px;
    }

    .nav-pills {
        float:none;
        text-align: center;
    }

    .nav-container {
        padding-top: 10px;
    }

    .background-div {
        height: max-content;
    }
  }