body {
    background-color:#232931;
}
* {
    background-color:#232931;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
}

.project-image {
    filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    /* height: 250px; */
}

/* adding brightening for hover */
.project-image:hover {
    filter: brightness(100%);
}

h6 {
    position:absolute;
    bottom: 0%;
    right: 0%;
    padding: 2px;
    background-color: aqua;
    border-radius: 10px;
}

.icon {
    background-color:aqua;
}

img {
    border-radius: 15px;
}

.card {
    border: 0 !important;
    border-radius: 15px !important;
   
}

.card-img-top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}