/* Styling for full site */
* {
    background-color:#232931;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
}

/* Centering portfolio header */
.portfolio-header {
    text-align: center;
    margin-top: 15px;
}

/* Adding styling for card */
.card {
    border: 0 !important;
    border-radius: 15px !important;
   
}

/* Styling for project image */
.project-image {
    filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* Adding brightening for project image hover */
.project-image:hover {
    filter: brightness(100%);
}

/* Adding border radius for all images */
img {
    border-radius: 15px;
}

/* Adding border radius for top of images */
.card-img-top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

/* Styling for project titles */
h6 {
    position:absolute;
    bottom: 0%;
    right: 0%;
    padding: 2px;
    background-color: aqua;
    border-radius: 10px;
}

/* Styling github icon */
.icon {
    background-color:aqua;
}