/* Centering resume header */
.resume-header {
    margin-top: 15px;
    text-align: center;
}

/* Centering resume download text */
.resume-download {
    text-align: center;
}

/* Styling resume link */
.resume-link {
    display: flex;
    justify-content: center;
    color:aliceblue;
    font-size: 1.25rem;
    text-decoration: none;
    padding-bottom: 10px;
}

/* Styling resume link and download icon hover */
.resume-link:hover, .icon-download:hover {
    opacity: 70%;
}

/* Styling download icon */
.icon-download {
    padding-bottom: 7px !important;
}

/* Centering technical skills header */
.skills-header {
    text-align: center;
    font-size: 25px;
}

/* Styling skills div */
.skills-div {
    margin: 5px 10px !important;
    display:flex !important;
    justify-content: center !important;
}

/* Styling list group */
.list-group {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
    margin-top: 10px;
    --bs-list-group-border: 5px !important;
    --bs-list-group-border-color: aliceblue !important;
}

/* Styling technical skills display */
.skill {
    color:aliceblue !important;
    width: 170px;
    text-align: center;
    border: solid 1px !important;
    border-color: aliceblue !important;
    border-radius: 20px !important;
    padding: 10px !important;
    margin: 10px !important;
}

/* Styling technical skills display hover */
.skill:hover {
    opacity: 70%;
}